@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: hsl(185, 41%, 84%);
  font-family: "Space Mono", monospace;
  margin: 0;
  font-size: 24px;
  min-width: 280px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  margin: 3rem;
}

div {
  width: 100%;
}

button {
  border: none;
  border-radius: 5px;
  font-family: "Space Mono", monospace;
  font-size: 24px;
  cursor: pointer;
  font-weight: bold;
}

label {
  font-size: 1rem;
  font-weight: 700;
  color: hsla(183, 100%, 15%, 0.7);
  padding: 0.5rem 0;
}

input {
  border: none;
  padding: 0.3rem 2rem;
  width: 100%;
  border-radius: 5px;
  font-size: 24px;
  font-family: "Space Mono", monospace;
  font-weight: bold;
  color: hsl(183, 100%, 15%);
  text-align: right;
  cursor: pointer;
}

.attribution {
  margin: 1rem 0;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
